{% extends "base.html" %}
{% load static %}

{% block title %}Add Assignment{% endblock %}

{% block content %}
    <div class="assignment-form">
        <h1>Add New Assignment</h1>
        
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="{{ assignment_form.assignment_number.id_for_label }}" class="form-label">Assignment Number:</label>
                {{ assignment_form.assignment_number }}
            </div>
            <div class="mb-3">
                <label for="{{ assignment_form.subject_code.id_for_label }}" class="form-label">Subject Code:</label>
                {{ assignment_form.subject_code }}
            </div>
            <div class="mb-3">
                <label for="{{ assignment_form.total_marks.id_for_label }}" class="form-label">Total Marks:</label>
                {{ assignment_form.total_marks }}
            </div>
    
            
            <div id="task-container">
            </div>

            <button type="button" data-action="add-task" class="btn btn-secondary">Add Task</button>
            <input type="submit" class="btn btn-tertiary" value="Save Assignment">
        </form>
    </div>
    
    <script src="{% static 'js/add_manage_form.js' %}"></script>
{% endblock %}