{% extends "base.html" %}
{% load static %}

{% block title %}Add Assignment{% endblock %}

{% block content %}
    <h1>Add New Assignment</h1>
    <p>Instruction will be written here...</p>

    <form method="POST">
        {% csrf_token %}
        
        {{ assignment_form.as_p }}
        
        <div id="task-container">
        </div>

        <button type="button" class="add-task">Add Task</button>
        <input type="submit" value="Save Assignment">
    </form>
    
    <script src="{% static 'js/add_manage_form.js' %}"></script>
{% endblock %}