{% extends "base.html" %}

{% block content %}
    <div class="headings">
        <h1>Marking {{ assignment.subject_code }}: Assignment {{ assignment.assignment_number }} Task {{ task.task_number }}</h1>
    </div>

    <div class="assignment-form">
        <form method="post" class="mt-4">
            {% csrf_token %}

            <!-- Student number input field -->
            <div class="form-group">
                <label for="student_number" class="form-label">Student Number:</label>
                <input type="text" name="student_number" class="form-control" required>
            </div>

            <!-- Display the list of marking criteria here -->
            <h4>Marking Criteria:</h4>
            <ul class="list-group">
                {% for criteria in task.criteria_set.all %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" name="criteria_checked[]" value="{{ criteria.id }}" class="form-check-input">
                            <label class="form-check-label">
                                {{ criteria.description }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <!-- Extra comments textarea -->
            <div class="form-group mt-4">
                <label for="extra_comments" class="form-label">Extra Comments:</label>
                <textarea name="extra_comments" class="form-control" rows="4" cols="50"></textarea>
            </div>

            <div class="button-container">
                <a href="/start_marking" class="btn btn-primary">Choose Task</a>
                <a href="{% url 'download_results' %}" class="btn btn-secondary">Download Results</a>
                <input type="submit" class="btn btn-tertiary" value="Save Marking">
            </div>
        </form>
    </div>
{% endblock %}
