/* BASE */
body {
    --bs-body-font-family: "Figtree", sans-serif;
    --bs-body-color: #1f1235;
}

header {
    background-color: #a195ba !important;
    margin-bottom: 40px !important;
}

footer {
    text-align: center;
}

.btn-primary {
    background-color: #ff6e6c !important;
    border-color: #ff6e6c !important;
    border-width: 3px !important;
    color: #1f1235 !important;
    font-weight: bold !important;
}

.btn-secondary {
    background-color: #fbdd74 !important;
    border-color: #fbdd74 !important;
    border-width: 3px !important;
    color: #1f1235 !important;
    font-weight: bold !important;
}

.btn-tertiary {
    background-color: #a195ba !important;
    border-color: #a195ba !important;
    border-width: 3px !important;
    color: #1f1235 !important;
    font-weight: bold !important;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color:#1f1235;
    text-align: center;
    padding-bottom: 40px;
}

.error-messages {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* BASE: NAVIGATION BAR */

.navbar-nav {
    padding-right: 20px;
}

.nav-item a {
    color: #1f1235;
}

.nav-item a:hover {
    color: #fbdd74;
}

.nav-item {
    font-size: 20px;
    font-weight: 600;
}

/* INDEX */

.index-text {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.nav-button {
    font-size: 22px !important;
    font-weight: 600 !important;
    height: 80px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 220px !important;
    margin-left: 20px;
    margin-right: 20px;
}


.btn:hover {
    background-color: white !important;
}

.main-content {
    text-align: center !important;
    margin-bottom: 40px;
}

#index-image {
    width: 300px;
    fill: #1f1235;
    margin-bottom: 40px;
}

.highlight {
    font-weight: 700;
    color: #a195ba;
}


/* ASSIGNMENT FORM */

.assignment-form {
    max-width: 900px; /* Adjust this value as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding for spacing */
}

.add-button:hover {
    background-color: white !important;
}

.card {
    margin-bottom: 20px;
    margin-top: 20px;
    border-width: 1.5px !important;
}

.form-label {
    font-size: 20px !important;
}

.button-container {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-control {
    border-width: 2px !important;
}

.button-container .btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 170px;
    height: 50px;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-title {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    text-align: center !important;
    color: #1b1425 !important;
}

/* ASSIGNMENT OVERVIEW */

.list-container {
    max-width: 600px; /* Adjust this value as needed */
    margin: 0 auto; /* Center the form horizontally */
}

.list-container p {
    text-align: center;
    font-size: 20px;
}

.list-group {
    font-size: 18px;
    padding: 10px;
}

.list-group-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.list-group-item a {
    font-weight: 500;
}

/* MARKING */

.headings h1 {
    padding-bottom: 0;
}

form h4 {
    margin-top: 20px;
}

/* RESULTS */

.student-number-h3 {
    font-weight: 300;
    text-align: center;
}

.sub-heading {
    color:#a195ba;
    text-align: center;
    padding-bottom: 10px;
}